{% load static %}


<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tpvapp/style_login.css'%}">
    <title>Tpv</title>
</head>
<body>
    <div class="img"><img src="{% static 'tpvapp/TM.png'%}"></div>
    <nav>
        <ul>
            <li><a href="/stats">Stats</a></li>
            <li><a href="/add">Add</a></li>
            <li><a href="">Connecté : {{user}}</a></li>
            <li><a href="/logout_user">Se décconecter</a></li>
            <li><h5> <script> document.write(new Date().toLocaleDateString()); </script></h5></li>
        </ul>

    </nav>
   
    {% if not user.is_authenticated   %}
<div class="form_login">
    <h1>Connexion</h1>
    <form action="" method="post">
     {% csrf_token %}
      <div>  <input type="text" name="username" placeholder="nom d'utilisateur"></div>
      <div>  <input type="password" name="password" placeholder="mot de passe"></div>
      <div> <input type="submit" name="submit" value="se connecter"></div>

    </form>
<div><h4>{{message}}</h4></div>

</div>
{% else   %}
<h5>Vous étes connecté en tant que : {{user}}</h5>
{% endif   %}
</body>
</html>